html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
a .fa-trash-alt{
    color: rgb(105, 21, 21)!important;
}
a .fa-trash-alt:hover{
    color: rgb(228, 56, 56)!important;
}
a .fa-edit{
    color: rgb(25, 39, 85)!important;
}
a .fa-edit:hover{
    color: rgb(25, 123, 189)!important;
}
a .fa-plus-circle{
    color: #1b6814;
}
a .fa-plus-circle:hover{
    color: #47cf3a;
}
#tipo-mascota{
    border-radius: 0;
    border: solid 2px #454D55!important;
}
#tipo-mascota:hover{
    cursor: pointer;
    border: solid 2px #e0e0e0!important;
}
#duenioExistente{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#duenioNuevo{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
#nombreMascota{
    border-radius: 0;
    border: solid 2px #454D55!important;
}
#nombreMascota:hover{
    border: solid 2px #e0e0e0!important;
}
.hold-small{
    min-width: 60px;
    max-width: 60px;
    max-height: 30px;
    min-height: 30px;
}
.hold-medium{
    min-width: 150px;
    max-width: 150px;
    max-height: 30px;
    min-height: 30px;
}
.hold-large{
    min-width: 200px;
    max-width: 200px;
    max-height: 30px;
    min-height: 30px;
}